<html>
<header class="c-site-header">
  <header id="header">
  <div id="page-wrapper"  class="logo">
       <nav aria-label="Main Site Links.">
    <a herf="#">Home</a>
  </nav>
</header>
<body>
  <h1>My life</h1>
  <iframe width="430" height="335"src=<iframe width="853" height="480" src="https://www.youtube.com/embed/j_0UrSomgO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </iframe>
  <img class="image" alt= "Mona on the oceanus"
       width="400" height="500">
  <main>
  <div>
    <h4>
      My name is Mana and my last name is Ghabraei.I am 27.I am graduated from one of a valid univercity.I studied Chemistry on my bachelor and for master my major was physical-chemistry.
      At university one of our teachers give us a really nice project wich was combine of chemistry and python so at that project I can achive a good mark but the bigest point of that was I could finding one of interesting things to do.
      In my oppinion people which can work with technology can help to society and also world.
      at the end of the day I wish you give me a chance for learning and working in codefuture, and thats my plessure to be a member of Codefuture.
    </h4>
    </div>
  </main>
</body>
<footer class="c-site-footer"></footer>
</html>
    



























<!-- Your test console.
Don't delete!-->
<aside id="tests" aria-label="Test Readout." aria-live="polite" style="overflow:auto">
</aside>